/* CSS RESET */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
/* GOOGLE FONTS */
body{
    font-family:'Poppins',sans-serif;
    background:black;
    color:white;
    line-height:1.6;
}
/* FUNDO ANIMADO */

#background-animation {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    z-index: -1;

    pointer-events: none;

    background: #020617;
}

/* Garante que o conteúdo fique acima */
body {
    position: relative;
    background: #020617;
}

/* Brilho verde atrás do conteúdo */
body::before {
    content: "";

    position: fixed;

    width: 500px;
    height: 500px;

    top: 10%;
    left: 50%;

    transform: translateX(-50%);

    background: radial-gradient(
        circle,
        rgba(34, 197, 94, 0.12) 0%,
        rgba(34, 197, 94, 0.05) 35%,
        transparent 70%
    );

    pointer-events: none;

    z-index: -1;

    animation: brilho 6s ease-in-out infinite alternate;
}

@keyframes brilho {

    0% {
        transform: translateX(-50%) scale(0.9);
        opacity: 0.5;
    }

    100% {
        transform: translateX(-50%) scale(1.15);
        opacity: 1;
    }
}

/* CONTAINER */
.container{
    max-width:1000px;
    margin:auto;
    padding:0 20px;
    display:flex;
    flex-direction:column;
}
.container2{
    display:flex;
    justify-content:center;
    align-items: center;
    gap:20px;


}

/* LINKS */
a{
    text-decoration:none;
    color: greenyellow;
    font-weight:500;
}
/* HEADER */
header{
    background:black;
    position:sticky;
    top:0;
    z-index:1000;
}
/* HEADER CONTENT */
.header-content{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 0;
}
/* NAVIGATION */
nav a{
    margin-left:20px;
    text-decoration:none;
    color: greenyellow;
    font-weight:500;
}

nav a:hover{
    color:white;
}

/* ANIMAÇÃO SCROLL */
.skill-bar {
  width: 100%;
  height: 8px;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 5px;
}
.skill-progress {
  height: 100%;
  background: linear-gradient(90deg,green,greenyellow);
  border-radius: 10px;
  width: 0;
  animation: loadBar 1.5s ease forwards;
}

@keyframes loadBar {
  to {
    width: var(--progress);
  }
}

/* níveis */
.progresso.html{ width:90%; }
.progresso.css{ width:85%; }
.progresso.js{ width:70%; }
.progresso.react{ width:55%; }
.progresso.git{ width:65%; }


/* HERO */
.hero{
    padding:100px 20px;
    text-align:center;
    background:linear-gradient(180deg,black,greenyellow);
}

.hero h2{
    font-size:40px;
    margin-bottom:10px;
}
/* BUTTONS */
.btn{
    display:inline-block;
    margin-top:20px;
    padding:12px 25px;
    background:black;
    color:white;
    text-decoration:none;
    border-radius:6px;
    font-weight:600;
    transition:0.3s;
}

.btn:hover{
    transform:translateY(-2px);
    background:greenyellow;
}

.btn-small{
    display:inline-block;
    margin-top:15px;
    padding:8px 18px;
    background: greenyellow;
    color:black;
    text-decoration:none;
    border-radius:5px;
    font-weight:600;
}

/* SECTION */
.section{
    padding:80px 0;
}

.section h2{
    margin-bottom:30px;
    color:greenyellow;
}

/* CARDS */
.cards{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:25px;
}

.card{
    background: green;
    padding:25px;
    border-radius:10px;
    transition:0.3s;
    box-shadow:0 0 15px rgba(0,0,0,0.4);
}

.card:hover{
    transform:translateY(-5px);
    }
/* FOOTER */
footer{
    text-align:center;
    padding:40px;
    background: black;
    }
.hero .container{
    display:flex;
    flex-direction:column;
    align-items:center;
}

/* FOTO PERFIL */
.profile-pic{
    width:160px;
    height:160px;
    border-radius:50%;
    object-fit:cover;
    border:4px solid greenyellow;
    margin-bottom:20px;
    box-shadow:0 0 25px greenyellow(56,189,248,0.4);
    transition:0.3s;
}
.profile-pic:hover{
    transform:scale(1.05);
    box-shadow:0 0 35px greenyellow(56,189,248,0.6);
}

/* RESPONSIVE */
@media(max-width:600px){
    .header-content{
        flex-direction:column;
        gap:15px;
    }
    nav a{
        margin-left:0;
    }
    .hero h2{
        font-size:28px;
    }
}
/* FORMULÁRIO */
form{
    display:flex;
    flex-direction:column;
    gap:15px;
    max-width:400px;
    margin:auto;
}
h1{
    text-align:center;
    margin-bottom:30px;
    color:greenyellow;
}
h3{
    color:greenyellow;
}
h4{
    color:greenyellow;
    margin-top:10px;
}
/* redes sociais */
.whatsapp{
    width: 50px;
    height:50px;
    transition:0.3s;
   
}
.linkedin{
    width: 50px;
    height:50px;
    transition:0.3s;
    
}
.github{
    width: 50px;
    height:50px;
    transition:0.3s;
}

